<h1 style="padding-left:20%; padding-top: 20px;">Calcular Média</h1>
<div class="container">
    <div clas="form-group">
        
        <label>Codigo RMA</label>
        <input type="text" class="form-control" [(ngModel)]="codigoRMA" placeholder="Codigo RMA" min="0" max="10000" required>

        <label>Nome</label>
        <input type="text" class="form-control" [(ngModel)]="nome" placeholder="Nome" required>

        <label>Nota 1</label>
        <input type="number" class="form-control" [(ngModel)]="nota1" placeholder="Nota 1" min="0" max="10" required>

        <label>Nota 2</label>
        <input type="number" class="form-control" [(ngModel)]="nota2" placeholder="Nota 2" min="0" max="10" required>

        <label>Nota 3</label>
        <input type="number" class="form-control" [(ngModel)]="nota3" placeholder="Nota 3" min="0" max="10" required>

        <label>Nota 4</label>
        <input type="number" class="form-control" [(ngModel)]="nota4" placeholder="Nota 4" min="0" max="10" required>
        <label>Sua Média é:</label>
        <br>
        <h2>{{Media}}</h2>
        <span *ngIf="Media >= 7; else elseBlock" class="badge badge-success">Aprovado</span>
        <ng-template #elseBlock>
            <span class="badge badge-primary">Reprovado</span>
        </ng-template>
    
    </div>
    <button type="button" class="btn btn-primary" (click)="calcularMedia()">Calcular</button>
</div>

<router-outlet></router-outlet>